<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<include file="$(find omni3ros_pkg)/launch/urdf_gazebo_view.launch" />
		

	<!-- Load controllers -->
	 <rosparam file="$(find omni3ros_pkg)/config/joint_velocity.yaml" command="load"/> 

	<!-- Controllers-->
	<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/open_base" 
	args="--namespace=/open_base
	joint_state_controller
	left_joint_velocity_controller
	back_joint_velocity_controller
	right_joint_velocity_controller
	"/>


</launch>
